.layout {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: #f8f8f8;
    color: #777;
    /* border-bottom: 1px solid #eaeaea; */
}

.content {
    flex: 1;
    padding: 24px;
    background: #fff;
}

.bytemd {
    height: 700px !important;
}

.bytemd-toolbar-icon.bytemd-tippy.bytemd-tippy-right:last-child {
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 16px;
    padding: 24px;
}

.group-button {
    width: 100%;
    min-height: 100px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}